# File cấu hình mẫu .env cho dự án Course Service
# Để chạy dự án, hãy sao chép (copy) file này thành file `.env` cùng cấp và điền thông tin kết nối thực tế.

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/course_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=........
